# Exercise 2.1 - Getting started with Python
The goal of this exercise is to print text like that below to the screen based on variable values you define.

 My name is Brianna and I give eating ice cream a score of 9 out of 10!
 My sleeping enjoyment rating is 8 / 10!
 Based on the factors above, my happiness rating is 8.5 out of 10 or 85.0 %!

For this exercise you should:
- Create three variables: one integer value (whole number) for your ice cream rating, another integer for your sleeping rating, and a character string for your first name.
- Calculate the average of the two ratings. Store the result in a variable for your happiness.
- Find the data type of each of the variables you have defined. Are there any surprises?
- Reproduce your version of the example text using the print() function and the variables you have defined. Note that you may need to be careful combining text and numbers!

In [1]:
ice_cream = int(9)
sleep = int(8)
happiness = '8.5'

In [2]:
def average(number1, number2):
  return (number1 + number2) / 2

hapiness = average(ice_cream, sleep)
print (hapiness)

8.5

In [3]:
type (ice_cream)

int

In [4]:
type (sleep)

int

In [5]:
type (hapiness)

float

# Hapiness is no longer a string!

In [6]:
text = f'My name is Brianna and I give eating ice cream a score of {ice_cream} out of 10! My sleeping enjoyment rating is {sleep} / 10! Based on the factors above, my happiness rating is {hapiness} out of 10 or {hapiness} %!'
print(text)

My name is Brianna and I give eating ice cream a score of 9 out of 10! My sleeping enjoyment rating is 8 / 10! Based on the factors above, my happiness rating is 8.5 out of 10 or 8.5 %!

# Exercise 2.2 - Creating and changing lists
: Table 2.5. FMI observation stations and the years in which they began operating.

    FMI station name	First year of operation	Group
    lighthouse	2003	1
    Harmaja	1989	1
    Suomenlinna aaltopoiju	2016	1
    Kumpula	2005	1
    Kaisaniemi	1844	1
    Malmi airfield	1937	2
    Vuosaari harbour	2012	2
    Kaivopuisto	1904	2

For this exercise you should use the data in Table 2.5 to:
- Create two lists for the station names and first years of operation for the stations in Group 1 in Table 2.5. Be sure to list the values in the order they appear in the table.
- Modify the lists you just created to add the values Group 2, again keeping them in the same order.
- Sort the two lists, sorting the first in alphabetical order and the second so that the most recent starting year is first
    - Do you see any problems with how the lists have been sorted?
    - Python has a function called zip() that might be helpful in solving the sorting issue. Search online to see whether you can find a way to use zip() to solve the problem with the two lists.

In [28]:
FMI_station_name = [
                    'lighthouse',
                    'Harmaja',
                    'Suomenlinna aaltopoiju',
                    'Kaisaniemi',
                   'Malmi airfield',
                    'Vuosaari harbour',
                    'Kaivopuisto' ]

first_year_of_operation = [2003,1989,2016,2005,1844,1937,2021,1904]

In [16]:
FMI_station_name_group2 = ['Malmi airfield', 'Vuosaari harbour', 'Kaivopuisto']

first_year_of_operation_group2 = [1937,2012, 1904]

FMI_station_name = FMI_station_name + FMI_station_name_group2
first_year_of_operation = first_year_of_operation + first_year_of_operation_group2

In [17]:
FMI_station_name

['lighthouse',
 'Harmaja',
 'Suomenlinna aaltopoiju',
 'Kaisaniemi',
 'Malmi airfield',
 'Vuosaari harbour',
 'Kaivopuisto',
 'Malmi airfield',
 'Vuosaari harbour',
 'Kaivopuisto']

In [27]:
sorted_FMI_station_name = sorted(FMI_station_name)
FMI_station_name

['Harmaja',
 'Kaisaniemi',
 'Kaivopuisto',
 'Kaivopuisto',
 'Malmi airfield',
 'Malmi airfield',
 'Suomenlinna aaltopoiju',
 'Vuosaari harbour',
 'Vuosaari harbour',
 'lighthouse']

In [19]:
first_year_of_operation.sort(reverse=True)
first_year_of_operation

[2021, 2016, 2012, 2005, 2003, 1989, 1937, 1937, 1904, 1904, 1844]

In [34]:
FMI_station_name

['lighthouse',
 'Harmaja',
 'Suomenlinna aaltopoiju',
 'Kaisaniemi',
 'Malmi airfield',
 'Vuosaari harbour',
 'Kaivopuisto']

In [37]:
zipped = zip(FMI_station_name,first_year_of_operation)
zipped = list(zipped)

In [39]:
# Printing zipped list
print("Initial zipped list - ", str(zipped))

Initial zipped list -  [('lighthouse', 2003), ('Harmaja', 1989), ('Suomenlinna aaltopoiju', 2016), ('Kaisaniemi', 2005), ('Malmi airfield', 1844), ('Vuosaari harbour', 1937), ('Kaivopuisto', 2021)]

In [45]:
# Using sorted and lambda
res = sorted(zipped, key = lambda x: x[1])

In [43]:
list(res)

[('Malmi airfield', 1844),
 ('Vuosaari harbour', 1937),
 ('Harmaja', 1989),
 ('lighthouse', 2003),
 ('Kaisaniemi', 2005),
 ('Suomenlinna aaltopoiju', 2016),
 ('Kaivopuisto', 2021)]

## Another method

In [36]:
FMI_station_name = sorted(FMI_station_name, key=str.casefold)
FMI_station_name

['Harmaja',
 'Kaisaniemi',
 'Kaivopuisto',
 'Kaivopuisto',
 'lighthouse',
 'Malmi airfield',
 'Malmi airfield',
 'Suomenlinna aaltopoiju',
 'Vuosaari harbour',
 'Vuosaari harbour']

# Exercise 2.3 - Lists and index values
: Table 2.6. Monthly average temperatures recorded at the Helsinki Malmi airport.

Month	Temperature (°C)
January	-3.5
February	-4.5
March	-1.0
April	4.0
May	10.0
June	15.0
July	18.0
August	16.0
September	11.5
October	6.0
November	2.0
December	-1.5
For this exercise you should use the data in Table 2.6 to:

Create two lists with the months and their average temperatures.
Use a print statement to produce output like that below, where the months and temperatures are selected using index values in the corresponding lists.
The average temperature in Helsinki in March is -1.0

In [49]:
month = ['January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December']

In [50]:
month

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [54]:
temp = [-3.5,
        -4.5,
        -1.0,
        4.0,
        10.0,
        15.0,
        18.0,
        16.0,
        11.5,
        6.0,
        2.0,
        -1.5]

In [57]:
for i in range (len(month)):
    print(f'The average temperature in Helsinki in {month[i]} is {temp[i]}')

The average temperature in Helsinki in January is -3.5
The average temperature in Helsinki in February is -4.5
The average temperature in Helsinki in March is -1.0
The average temperature in Helsinki in April is 4.0
The average temperature in Helsinki in May is 10.0
The average temperature in Helsinki in June is 15.0
The average temperature in Helsinki in July is 18.0
The average temperature in Helsinki in August is 16.0
The average temperature in Helsinki in September is 11.5
The average temperature in Helsinki in October is 6.0
The average temperature in Helsinki in November is 2.0
The average temperature in Helsinki in December is -1.5

# Exercise 2.4 - Batch processing files with a for loop
Batch processing is a common task in Python, where a set of data and/or files are analyzed one after another using the same script or program. In this exercise your goal is to produce a Python list of filenames that could be used to batch process the data they contain.

For this exercise you should:

Use a for loop to create a Python list that produces the output below when you print the list:

['Station_0.txt', 'Station_1.txt', 'Station_2.txt', 'Station_3.txt',
 'Station_4.txt', 'Station_5.txt', 'Station_6.txt', 'Station_7.txt',
 'Station_8.txt', 'Station_9.txt', 'Station_10.txt', 'Station_11.txt',
 'Station_12.txt', 'Station_13.txt', 'Station_14.txt', 'Station_15.txt',
 'Station_16.txt', 'Station_17.txt', 'Station_18.txt', 'Station_19.txt',
 'Station_20.txt']

In [60]:
station_name = 'Station_' + str(0) + '.txt'

In [62]:
stations = []
for i in range (21):
    station_name = 'Station_' + str(i) + '.txt'
    stations.append(station_name)

In [63]:
stations

['Station_0.txt',
 'Station_1.txt',
 'Station_2.txt',
 'Station_3.txt',
 'Station_4.txt',
 'Station_5.txt',
 'Station_6.txt',
 'Station_7.txt',
 'Station_8.txt',
 'Station_9.txt',
 'Station_10.txt',
 'Station_11.txt',
 'Station_12.txt',
 'Station_13.txt',
 'Station_14.txt',
 'Station_15.txt',
 'Station_16.txt',
 'Station_17.txt',
 'Station_18.txt',
 'Station_19.txt',
 'Station_20.txt']